# MongoDB database connection URI
MONGO_DB_URI=

# Google OAuth2 Client ID for Nodemailer
CLIENT_ID=

# Google OAuth2 Client Secret for Nodemailer
CLIENT_SECRET=

# Google OAuth2 Refresh Token for Nodemailer
REFRESH_TOKEN=

# Gmail account used to send emails
EMAIL_USER=

# Secret key used for JWT authentication
JWT_SECRET=